EMAIL_PASSWORD=
EMAIL_USER=
MONGO_URI=
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
PORT=5000
PAYMONGO_PUBLIC_KEY=
PAYMONGO_SECRET_KEY=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
LOCATIONIQ_ACCESS_TOKEN=
VITE_LOCATIONIQ_ACCESS_TOKEN=
CLIENT_URL=http://localhost:3000
